<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <a href="mailto:<%= @user.email %>"><%= @user.name %></a>
      </h1>
    </section>
  </aside>
</div>
